.songContainer{
    display: grid;
    grid-template-columns: 13px 3fr minmax(0, 2fr) minmax(0, 2fr) 50px;
    grid-auto-flow: column;
    align-items: center;
    gap: 16px;
    padding: 0px 15px;
    color: var(--gray-text); 
    border-radius: 5px;   
}

.songContainer:hover{
    background-color: var(--gray-bg-hover);
}

.songImg{
    height: 40px;
    border-radius: 5px;
}

.songNameContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.songNameContainer > div > p{
    margin: 0;
}
.songArtists a {
  display: inline;
  margin-right: 4px;
}

.grayLink{
    color: var(--gray-text);
    cursor: pointer;
}

.grayLink:hover{
    text-decoration: underline;
}