.mainSectionContainer{
    margin: 0 10px 10px calc(var(--sb-width) + 30px);
    border-radius: 10px;
    transition: margin-left ease-in-out 0.1s;
    color: var(--white);
    background-color: var(--light-black );
    height: 82vh;
    overflow-y: auto;
}

.sb-expanded ~ .mainSectionContainer{
    margin-left: calc(var(--sb-width) + 30px);  
}
    
