SESSION_SECRET= #random string for session encryption
PORT= #your backend port e.g. 3000
REDIS_URL= #redis url for session storage, e.g. redis://localhost:6379

# spotify
CLIENT_ID= #your spotify client ID
CLIENT_SECRET= #your spotify client secret
REDIRECT_URI= #your spotify redirect URI e.g. http://localhost:3000/callback