@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
    --black: #000000;
    --light-black: #121212;
    --gray-bg: #212121;
    --gray-bg-hover: #2A2A2A;
    --strong-hover: #484848;
    --weak-hover: #1F1F1F;

    --white:#fff;
    --gray-text: #9D9D9D;
    --light-gray-text: #CFCFCF;
    
    --blue: #A2C7FF;

}

html, body {
  margin: 0;
  height: 100%;
  font-family: "Nunito", sans-serif;
  background-color: var(--black);

}

#appLayout {
  --sb-width: 75px; 
}


input{
    font-family: "Nunito", sans-serif;
}

input:focus {
    outline: none;
}

.circularBttn{
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: var(--gray-bg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.circularBttn:hover{
    background-color: var(--gray-bg-hover);
    transform: scale(1.02);
}

.noBgBttn{
    background-color: transparent;

    border: none;
    cursor: pointer;
    padding: 0px 20px;

    background-repeat: no-repeat;
    background-position: center;
}
