.playPausePlaylist{
    background-color: var(--blue);
    padding: 27px;
    background-image: url(../../assets/blackIcons/play_button.svg);
    background-color: var(--blue);
    background-position: 19px 18px;    
    background-size: 20px;
}

.playPausePlaylist:hover{
    background-color: var(--white);
}

.songsContainer{
    position: relative;
    margin-top: -265px;
    background-color: #12121295;
    padding: 10px 20px;
}