.playlistHeader{
    display: flex;
    align-items: center;
    padding: 30px 20px;
    padding-bottom: 300px;
    border-radius: 10px;
}

.playlistCover{
    height: 250px;
    width: 250px;
    border-radius: 5px;
    margin-right: 20px;
    object-fit: cover;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.playlistTitle{ 
    font-size: 60px;
    margin: 0;
}

.playPausePlaylist{
    background-color: var(--blue);
    padding: 27px;
    background-image: url(../../assets/blackIcons/play_button.svg);
    background-color: var(--blue);
    background-position: 19px 18px;    
    background-size: 20px;
}

.playPausePlaylist:hover{
    background-color: var(--white);
}

.songsContainer{
    position: relative;
    margin-top: -265px;
    background-color: #12121295;
    padding: 10px 20px;
}